# .gitignore
# Arquivos e pastas a serem ignorados pelo Git
# Node.js
node_modules/
.env
*.log

# Cypress
cypress/videos/
cypress/screenshots/

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs e editores
.vscode/
.idea/

# Arquivos temporários e backups
*.zip
*.bak
*.tmp

# Git
.gitignore
